#sintonizaconmigo {
    text-align: justify;
}

#carouselExampleCaptions {
    margin-top: 40px; 

    .carousel-item {
        img {
            max-width: 100%;
            height: auto;
        }
    }

    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.5); 
        color: white; 
        padding: 10px; 
    }
}
