@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#enescena {
    @extend %shared-styles;
    animation: fadeIn 1s ease-in-out; // Aplicamos la animación fadeIn
}

h1 {
    color: $azul;
    margin-bottom: 20px;
}

p {
    color: #333;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
}

#listavideos {
    @extend %shared-styles;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: center;

    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
        max-width: 100%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
