.flex-container {
    @include flexbox(row, center, center);
    flex-wrap: wrap;

    .iframe-wrapper {
        flex: 1 1 45%;
        margin: 10px;
        
        iframe {
            width: 100%;
            height: 150px;
        }

        .iframe-details {
            font-size: 10px;
            color: #cccccc;
            line-break: anywhere;
            word-break: normal;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
            font-weight: 100;

            a {
                color: #cccccc;
                text-decoration: none;
            }
        }
    }
}